@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);

body{
  font-family: "Ubuntu", sans-serif;
}
hr{
   width: 50%;
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-weight: 70;
  font-size: 2em;
}
.my-name{
  font-family: Copperplate,"Copperplate Gothic Light",fantasy;
  font-weight: 400;
  font-size: 55px;
}
.thumbnail{
  position: relative; 
}
.thumbnail img{
  min-height: 150px;
  min-width: 200px; 
}

#designation{
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
}
#github{
  color: white;
}
#facebook{
  color: white;
}
#linkedin{
 color: white;   
}

#home{
  background-image: url('Images/1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-right: -20px;
  margin-left: -20px;
}
#home_title{
height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 350px;
  color: #fff;
  font-size: 3em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}
#Projects{
  background-image: url('Images/2.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  color: #fff;
}
#about{
  background-image: url('Images/3.jpeg');
  background-attachment: fixed;
  color: #fff;
}
#contact{
  background-image: url('Images/4.jpg');
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
}

#sec-heading{
  font-family: Copperplate,"Copperplate Gothic Light",fantasy;
  font-size: 45px;
  font-weight:700;
  margin-top: 55px;
}
#ter-heading{
  font-size: 35px;
  font-weight:700;
  margin-top: 55px;
}

#abouttext{
  font-family:"Ubuntu", sans-serif;
  font-size: 24px;
  color:#fff
}
#my-pic{
  height: 250px;
  width: 250px;
}
