@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);

@font-face {
    font-family: 'myfontitalic';
    src: url('fonts/myitalic.woff2') format('woff2'),
         url('fonts/myitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myfontregular';
    src: url('fonts/myregular.woff2') format('woff2'),
         url('fonts/myregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  font-family: "myfontitalic";
}
hr{
   width: 50%;
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-weight: 70;
  font-size: 2em;
}
.my-name{
  font-family: "myfontregular";
  font-weight: 500;
  font-size: 75px;
}
.thumbnail{
  position: relative; 
}
.thumbnail img{
  min-height: 150px;
  min-width: 200px; 
}

#designation{
  font-size: 40px;
  font-family: "myfontitalic";
  font-weight: 400;
}
#github{
  color: white;
}
#facebook{
  color: white;
}
#linkedin{
 color: white;   
}

.myHome{
  background-image: url('Images/1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}
#home_title{
height: 100%;
  width: 100%;
  padding-top: 170px;
  padding-bottom: 350px;
  color: #fff;
  font-size: 3em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.1);
}
#Projects{
  background-image: url('Images/2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  color: #fff;
}
#about{
  /*background-image: url('Images/3.jpeg');*/
  background-color: #222;
  background-attachment: fixed;
  color: #fff;
}
#contact{
  background-image: url('Images/4.jpg');
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
}

#sec-heading{
  font-family: "myfontitalic";
  font-size: 45px;
  font-weight:500;
  margin-top: 55px;
}
#ter-heading{
  font-size: 35px;
  font-weight:700;
  margin-top: 55px;
}

#abouttext{
  font-family:"myfontitalic";
  font-size: 24px;
  color:#fff
}
#my-pic{
  height: 250px;
  width: 250px;
}